{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block extra_css %}
<link href="{% static 'accounts/customuser_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1 class="page-top-title">ユーザ情報</h1>
<div class="row mx-auto justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card img-thumbnail">
            <div class="card-image">
                {% if customuser.profile_pic.url %}
                <img src="{{ customuser.profile_pic.url }}" class="img-thumbnail" alt="...">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-12 com-sm-12 col-md-6 col-lg-6">
        <table class="table table-hover table-responsive">
            <tbody>
                <tr>
                    <th style="width:25%">ユーザ名</th>
                    <td style="width:75%; text-align: center">{{ customuser.username }}</td>
                </tr>
                <tr>
                    <th scope="row">Eメール</th>
                    <td style="text-align: center">{{ customuser.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if user == customuser %}
<div class="button-wrapper">
    <button class="btn btn-primary" type="button"
        onclick="location.href='{% url 'accounts:update' user.uuid %}'">変更する</button>
</div>
<div class="user-info-tabs">
    <div class="col-xs-12 com-sm-12 col-md-8 col-lg-8 mx-auto">
        <nav>
            <div class="nav nav-tabs w-100 nav-justified" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-favorite"
                    role="tab" aria-controls="nav-favorite" aria-selected="false">お気に入り</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-wanted" role="tab"
                    aria-controls="nav-wanted" aria-selected="false">読みたい</a>
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-comment" role="tab"
                    aria-controls="nav-comment" aria-selected="false">コメント</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-follow" role="tab"
                    aria-controls="nav-follow" aria-selected="false">フォロー</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-follower" role="tab"
                    aria-controls="nav-follower" aria-selected="false">フォロワー</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane active" id="nav-favorite" role="tabpanel" aria-labelledby="nav-profile-tab">
                お気に入り
                {% for favorite in favorite_list %}
                {{ favorite.book }}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-wanted" role="tabpanel" aria-labelledby="nav-contact-tab">
                読みたい
                {% for wanted in wanted_list %}
                {{ wanted.book }}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-home-tab">
                コメント
                {% for comment in comment_list %}
                {{ comment }}
                {{ comment.book }}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-follow" role="tabpanel" aria-labelledby="nav-contact-tab">
                フォロー
                {% for follow in following_list %}
                {{ follow.followed }}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-follower" role="tabpanel" aria-labelledby="nav-contact-tab">フォロワー

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}