{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}ユーザ情報変更{% endblock %}
{% block extra_css %}
<link href="{% static 'accounts/customuser_form.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container" style="padding-bottom: 300px;">
    <h1 class="page-top-title">ユーザ情報変更</h1>
    <div class="row mt-4 justify-content-center mx-auto">
        <div class="col-xs-12 col-sm-12 com-md-8">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' size='large' %}
                <div class="button-wrapper">
                    <button type="submit" class="btn btn-primary">更新する</button>
                </div>
            </form>
        </div>
    </div>

    <!-- パスワード変更リンク  -->
    <div class="change-password">
        <a href="{% url 'account_change_password' %}">パスワードの変更はこちら</a>
    </div>
</div>
{% endblock %}