{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}ユーザプロフィール{% endblock %}
{% block extra_css %}
<link href="{% static 'accounts/customuser_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'accounts:list' %}">ユーザ一覧</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ customuser.username }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <h2 class="page-top-title">ユーザ情報</h2>
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card-user-info mx-auto">
                {% if customuser.profile_pic.url %}
                <div class="book-card-image">
                    <a href="{% url 'accounts:detail' customuser.uuid %}">
                        <img src="{{ customuser.profile_pic.url }}" class="rounded-circle" alt="...">
                    </a>
                </div>
                {% endif %}
                <div class="book-card-body">
                    <a href="{% url 'accounts:detail' customuser.uuid %}">
                        {{ customuser.username }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ユーザ情報変更ボタン -->
    {% if user.username != 'test-user' %}
    {% if user == customuser %}

    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-2 button-wrapper">
            <button class="btn btn-primary" type="button"
                onclick="location.href='{% url 'accounts:update' user.uuid %}'">変更する</button>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- フォローボタン -->
    {% if customuser != user %}
    {% if customuser not in request_user_following_user_list %}
    <div class="button-wrapper">
        <form action="{% url 'accounts:follow' customuser.uuid %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">フォローする</button>
        </form>
    </div>
    {% else %}
    <div class="button-wrapper">
        <form action="{% url 'accounts:unfollow' customuser.uuid %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">フォロー解除</button>
        </form>
    </div>
    {% endif %}
    {% endif %}

    <!-- ユーザ情報タブ -->
    <div class="user-info-tabs">
        <div class="col-xs-4 com-sm-4 col-md-10 col-lg-10 mx-auto">
            <nav>
                <div class="nav nav-tabs w-100 nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-favorite"
                        role="tab" aria-controls="nav-favorite" aria-selected="false">
                        お気に入り
                        <span>{{ favorite_list|length }}</span></a>
                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-comment" role="tab"
                        aria-controls="nav-comment" aria-selected="false">
                        コメント
                        <span>{{ comment_list|length }}</span></a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-follow" role="tab"
                        aria-controls="nav-follow" aria-selected="false">
                        フォロー
                        <span>{{  following_list|length }}</span></a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-follower" role="tab"
                        aria-controls="nav-follower" aria-selected="false">
                        フォロワー
                        <span>{{ followed_list|length }}</span></a>
                </div>
            </nav>

            <!-- お気に入り済みの書籍一覧 -->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane active" id="nav-favorite" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        {% for favorite in favorite_list %}
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="card card-fav-wanted mx-auto">
                                <div class="book-card-image">
                                    <a href="{% url 'book:detail' favorite.book.uuid %}">
                                        <img src="{{ favorite.book.image_url }}" class="book-img-thumbnail" alt="...">
                                    </a>
                                </div>
                                <div class="book-card-body">
                                    <a href="{% url 'book:detail' favorite.book.uuid %}">
                                        <h5 class="card-title text-truncate">{{ favorite.book.title }}</h5>
                                    </a>
                                    <p class="card-text text-truncate">{{ favorite.book.author }}</p>

                                    <!-- お気に入り追加ボタン -->
                                    {% if user == customuser %}
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                            <div class="book-form text-center">
                                                <form action="{% url 'book:delete_favorite' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="favorite_uuid"
                                                        value="{{ favorite.uuid }}">
                                                    <input type="hidden" name="user_uuid" value="{{ user.uuid }}">
                                                    <input type="hidden" name="template_name" value="customuser_detail">
                                                    <button type="submit" class="btn btn-secondary">お気に入り追加済み</button>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="empty-block mx-auto">
                                <h4>お気に入りに追加済みの書籍はありません。</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- コメント一覧 -->
                <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% for comment in comment_list %}
                    <div class="row border border-light rounded bg-light mt-4">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 d-flex align-items-center post-content">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>タイトル ： {{ comment.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>評価 ： {{ comment.score }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">投稿日 : {{ comment.modified }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ comment.content }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-end commented-book">
                            <div class="card comment-card">
                                <div class="book-card-image">
                                    <a href="{% url 'book:detail' comment.book.uuid %}">
                                        <img src="{{ comment.book.image_url }}" class="comment-book-img-thumbnail"
                                            alt="...">
                                    </a>
                                </div>
                                <div class="comment-book-card-body mx-auto">
                                    <a href="{% url 'book:detail' comment.book.uuid %}">
                                        <p class="comment-book-card-title text-truncate">
                                            {{ comment.book.title }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- 編集/削除ボタン -->
                        {% if user == comment.user %}
                        <div class="col-12">
                            <div class="comment-buttons">
                                <button type="button"
                                    onclick="location.href='{% url 'book:update_comment' comment.book.uuid comment.uuid %}'"
                                    class="btn btn-outline-primary edit-button">
                                    <i class="far fa-edit">編集</i>
                                </button>
                                <button type="button" class="btn btn-outline-danger float-right delete-button"
                                    data-toggle="modal" data-target="#exampleModal-{{ comment.uuid }}">
                                    <i class="far fa-trash-alt">削除</i>
                                </button>

                                <!-- 削除ボタンモーダル -->
                                <div class="modal fade" id="exampleModal-{{ comment.uuid }}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                削除しますか？
                                            </div>
                                            <form
                                                action="{% url 'book:delete_comment' comment.book.uuid comment.uuid %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="user_uuid" value="{{ user.uuid }}">
                                                <input type="hidden" name="template_name" value="customuser_detail">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">No</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <div class="empty-block mx-auto">
                            <h4>コメントはありません。</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- フォロー -->
                <div class="tab-pane fade" id="nav-follow" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">
                        {% for follow in following_list %}
                        <div class="col-xs-12 col-sm-6 col-md-3 mt-4">
                            <div class="card-fav-wanted mx-auto">
                                <div class="book-card-image">
                                    <a href="{% url 'accounts:detail' follow.followed.uuid %}">
                                        {% if follow.followed.profile_pic.url %}
                                        <img src="{{ follow.followed.profile_pic.url }}" class="rounded-circle"
                                            alt="...">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="book-card-body">
                                    <a href="{% url 'accounts:detail' follow.followed.uuid %}">
                                        {{ follow.followed.username }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="empty-block mx-auto">
                                <h4>あなたがフォローしているユーザはいません。</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- フォロワー -->
                <div class="tab-pane fade" id="nav-follower" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">
                        {% for followed in followed_list %}
                        <div class="col-xs-12 col-sm-12 col-md-4 col-md-3 mt-4">
                            <div class="card-fav-wanted mx-auto">
                                <div class="book-card-image">
                                    <a href="{% url 'accounts:detail' followed.user.uuid %}">
                                        {% if followed.user.profile_pic.url %}
                                        <img src="{{ followed.user.profile_pic.url }}" class="rounded-circle" alt="...">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="book-card-body">
                                    <a href="{% url 'accounts:detail' followed.user.uuid %}">
                                        {{ followed.user.username }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="empty-block mx-auto">
                                <h4>あなたをフォローしているユーザはいません。</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}