{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}ユーザ情報変更{% endblock %}
{% block extra_css %}
<link href="{% static 'accounts/customuser_form.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'accounts:list' %}">ユーザ一覧</a></li>
                    <li class="breadcrumb-item"><a href=" {% url 'accounts:detail' customuser.uuid %}">ユーザ詳細</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ユーザ情報変更</li>
                </ol>
            </nav>
        </div>
    </div>
    <h2 class="page-top-title">ユーザ情報変更</h2>
    <div class="row mt-4 justify-content-center mx-auto">
        <div class="col-md-6">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' size='large' %}
                {% buttons %}
                <div class="row justify-content-center">
                    <div class="col-md-4 col-lg-2 button-wrapper">
                        <button type="submit" class="btn btn-primary">更新する</button>
                    </div>
                </div>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- パスワード変更リンク  -->
    <div class="row justify-content-center mx-auto">
        <div class="col-md-6">
            <div class="change-password">
                <a href="{% url 'account_change_password' %}">パスワードの変更はこちら</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}