h1.page-top-title {
    text-align: center;
    margin: 20px 20px;
}

div.card.img-thumbnail {
    max-width: 250px;
    margin: auto;
}

div.card-image {
    max-height: 300px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: darkgray;
    margin: 0px;
    text-align: center;
}

img.img-thumbnail {
    height: auto;
    width: auto;
    object-fit: cover;
}

tbody {
    width: 100%;
}

div.user-profile-img-thumbnail img.profile-card-img-top {
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
}

div.user-profile-img-thumbnail div.card-body {
    padding: 0.25rem;
    text-align: center;
}

div.card-body {
    padding: 0%;
    text-align: center;
}

li.list-group-item {
    margin: 0%;
    padding: 0.5em
}

li.list-group-item form button {
    font-size: 0.75em;
}

h3.comment-post-list {
    text-align: center;
    margin: 30px 20px;
}

div.comment-post {
    margin-top: 30px;
}

h3.comment-post-form {
    text-align: center;
    margin-top: 40px;
}

div.profile {
    height: 100%;
    text-align: center;
}

img.rounded-circle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}