div.container-fluid {
    padding-bottom: 60px;
}

nav.breadcrumb {
    background-color: white;
    padding-bottom: 0px;
    margin: 0px;
}

nav.breadcrumb ol {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

div.card-body {
    padding-bottom: 0px;
}

div.button-wrapper {
    text-align: center;
}