div.container-fluid {
    padding-top: 30px;
}

div.button-wrapper {
    text-align: center;
}

nav.breadcrumb {
    background-color: white;
    padding-left: 0px;
    margin: 0px;
}

nav.breadcrumb ol {
    background-color: white;
    padding: 0px;
    margin: 0px;
}