div.container-fluid {
    padding-top: 30px;
}

nav.breadcrumb {
    background-color: white;
    padding-left: 0px;
    margin: 0px;
}

nav.breadcrumb ol {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

div.content {
    padding-top: 20px;
}