{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load custom_template_tag %}
{% block title %}書籍詳細{% endblock %}
{% block extra_css %}
<link href="{% static 'book/book_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'book:list' %}">書籍一覧</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <h2 class="page-top-title">書籍詳細</h2>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="card img-thumbnail">
                <div class="card-image">
                    <img src="{{ book.image_url }}" class="img-fluid img-thumbnail" alt="...">
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-center">
                        {% if user.is_authenticated %}
                        <!-- お気に入り -->
                        <li class="list-group-item">
                            {% if favorite %}
                            <form action="{% url 'book:delete_favorite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="favorite_uuid" value="{{ book|get_favorite_id:user }}">
                                <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                <button type="submit" class="btn btn-secondary">お気に入り追加済み</button>
                            </form>
                            {% else %}
                            <form action="{% url 'book:add_favorite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                <button type="submit" class="btn btn-primary">お気に入り追加</button>
                            </form>
                            {% endif %}
                        </li>
                        <!-- 読みたい -->
                        <li class="list-group-item">
                            <button class="btn btn-primary" onclick="window.open('{{ book.affiliate_url }}')">
                                商品を見る
                            </button>
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            <form action="{% url 'book:add_favorite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                <button type="submit" class="btn btn-primary">お気に入り追加</button>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-primary" onclick="window.open('{{ book.affiliate_url }}')">
                                商品を見る
                            </button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>タイトル</th>
                        <td>{{ book.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">著者</th>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <th scope="row">説明</th>
                        <td>{{ book.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">価格</th>
                        <td>￥{{ book.price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">出版社</th>
                        <td>{{ book.publisher }}</td>
                    </tr>
                    <tr>
                        <th scope="row">発売日</th>
                        <td>{{ book.published_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3 class="comment-post-list">コメント一覧</h3>
    <div class="comment-post">
        {% for comment in comment_list %}
        <div class="row border border-light rounded bg-light mt-3">
            <div class="col-md-2 align-self-center">
                <div class="card-user-info mx-auto">
                    {% if comment.user.profile_pic.url %}
                    <div class="user-image">
                        <a href="{% url 'accounts:detail' comment.user.uuid %}">
                            <img src="{{ comment.user.profile_pic.url }}" class="rounded-circle" alt="...">
                        </a>
                    </div>
                    {% endif %}
                    <div class="user-name">
                        <a href="{% url 'accounts:detail' comment.user.uuid %}">
                            {{ comment.user.username }}
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-8 comment-content">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>タイトル ： {{ comment.title }}</td>
                        </tr>
                        <tr>
                            <td>評価 ： {{ comment.score }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">投稿日 : {{ comment.modified }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ comment.content }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if user == comment.user %}
                <div class="buttons">
                    <button type="button" onclick="location.href='{% url 'book:update_comment' book.pk comment.pk %}'"
                        class="btn btn-outline-primary edit-button"><i class="far fa-edit">
                            編集</i></button>
                    <button type="button" class="btn btn-outline-danger float-right delete-button" data-toggle="modal"
                        data-target="#exampleModal">
                        <i class="far fa-trash-alt"> 削除</i>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    削除しますか？
                                </div>
                                <form action="{% url 'book:delete_comment' book.uuid comment.uuid %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h3 class="comment-post-form">口コミを投稿する</h3>
            <div class="comment-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    {% buttons %}
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-10 button-wrapper">
                            <button type="submit" class="btn btn-primary">投稿する</button>
                        </div>
                    </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}