{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block content %}
<h1>書籍詳細</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{ book.image_url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
        <table class="table table-hover">
            <tr>
                <th scope="row">タイトル</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th scope="row">著者</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th scope="row">説明</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th scope="row">価格</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th scope="row">出版社</th>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <th scope="row">販売日</th>
                <td>{{ book.published_date }}</td>
            </tr>
        </table>
    </div>
    <form action="{% url 'book:add_favorite' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
        <button type="submit" class="btn btn-primary">お気に入りに追加</button>
    </form>
    <form action="{% url 'book:add_wanted' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
        <button type="submit" class="btn btn-primary">読みたいに追加</button>
    </form>
</div>
{% endblock %}