{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block extra_css %}
<link href="{% static 'book/book_search.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h2 style="text-align: center; margin:20px">書籍検索</h2>
<div class="row justify-content-center">
    <form method="POST" class="form-inline">
        <div class="col-auto">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' size='large' %}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </form>
</div>
</div>

<div class="row search-result">
    {% for book in book_list %}
    <div class="col-3">
        <div class="card" style="margin:10px;">
            <img src="{{ book.largeImageUrl }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-truncate">{{ book.title }}</h5>
                <p class="card-text text-truncate">{{ book.author }}</p>
                <form action="{% url 'book:add' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="book_isbn" value="{{ book.isbn }}">
                    <input type="hidden" name="book_title" value="{{ book.title }}">
                    <input type="hidden" name="book_author" value="{{ book.author }}">
                    <input type="hidden" name="book_image_url" value="{{ book.largeImageUrl }}">
                    <input type="hidden" name="book_description" value="{{ book.itemCaption }}">
                    <input type="hidden" name="book_price" value="{{ book.itemPrice }}">
                    <input type="hidden" name="book_publisher" value="{{ book.publisherName }}">
                    <input type="hidden" name="book_published_date" value="{{ book.salesDate }}">
                    <input type="hidden" name="book_affiliate_url" value="{{ book.affiliateUrl }}">
                    <button type="submit" class="btn btn-primary">詳細を見る</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}