{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load custom_template_tag %}
{% block title %}書籍一覧{% endblock %}
{% block extra_css %}
<link href="{% static 'book/book_list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">書籍一覧</li>
                </ol>
            </nav>
        </div>
    </div>
    <h2 class="page-top-title">書籍一覧</h2>
    <div class="row justify-content-center">
        <form method="GET" class="form-inline">
            <div class="col-auto">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' size='large' %}
            </div>
            {% buttons %}
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">検索</button>
            </div>
            {% endbuttons %}
        </form>
    </div>
    <div class="row search-result">
        {% for book in book_list %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="margin:10px;">
                <div class="card-image">
                    <a href="{% url 'book:detail' book.uuid %}">
                        <img src="{{ book.image_url }}" class="img-thumbnail" alt="...">
                    </a>
                </div>
                <div class="card-body">
                    <a href="{% url 'book:detail' book.uuid %}">
                        <h5 class="card-title text-truncate">{{ book.title }}</h5>
                    </a>
                    <p class="card-text text-truncate">{{ book.author }}</p>

                    {% if user.is_authenticated %}
                    <ul class="list-group list-group-flush text-center">
                        <!-- お気に入り -->
                        <li class="list-group-item">
                            <div class="form-favorite text-center">
                                {% if book in fav_book_list %}
                                <form action="{% url 'book:delete_favorite' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="favorite_uuid" value="{{ book|get_favorite_id:user }}">
                                    <input type="hidden" name="template_name" value="book_list">
                                    <button type="submit" class="btn btn-secondary">お気に入り追加済み</button>
                                </form>
                                {% else %}
                                <form action="{% url 'book:add_favorite' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="template_name" value="book_list">
                                    <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                    <button type="submit" class="btn btn-primary">お気に入り追加</button>
                                </form>
                                {% endif %}
                            </div>
                        </li>

                        <!-- 読みたい -->
                        <li class="list-group-item">
                            <div class="form-favorite text-center">
                                {% if book in wanted_book_list %}
                                <form action="{% url 'book:delete_wanted' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="wanted_uuid" value="{{ book|get_wanted_id:user }}">
                                    <input type="hidden" name="template_name" value="book_list">
                                    <button type="submit" class="btn btn-secondary">読みたいに追加済み</button>
                                </form>
                                {% else %}
                                <form action="{% url 'book:add_wanted' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="template_name" value="book_list">
                                    <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                    <button type="submit" class="btn btn-primary">読みたいに追加</button>
                                </form>
                                {% endif %}
                            </div>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="list-group list-group-flush text-center">
                        <!-- お気に入り -->
                        <li class="list-group-item">
                            <div class="form-favorite text-center">
                                <form action="{% url 'book:add_favorite' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="template_name" value="book_list">
                                    <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                    <button type="submit" class="btn btn-primary">お気に入り追加</button>
                                </form>
                            </div>
                        </li>
                        <!-- 読みたい -->
                        <li class="list-group-item">
                            <div class="form-favorite text-center">
                                <form action="{% url 'book:add_wanted' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="template_name" value="book_list">
                                    <input type="hidden" name="book_uuid" value="{{ book.uuid }}">
                                    <button type="submit" class="btn btn-primary">読みたいに追加</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}