{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}コメント編集{% endblock %}
{% block extra_css %}
<link href="{% static 'book/comment_form.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<!-- js -->
<!-- コメント一覧およびコメントフォームで使用するjsファイル-->
<script src="{% static 'jquery_raty/js/jquery.raty.js' %}"></script>
<script type="text/javascript">
    $.fn.raty.defaults.path = "{% static '/jquery_raty/images' %}";
</script>

<div class="container-fluid">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'book:list' %}"> 書籍一覧</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'book:detail' view.kwargs.book_pk %}">書籍詳細</a></li>
                    <li class="breadcrumb-item active" aria-current="page">コメント編集</li>
                </ol>
            </nav>
        </div>
    </div>
    <h2 class="page-top-title">コメント編集</h2>
    <div class="row">
        <div class="col-md-6 justify-content-center mx-auto">
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name == 'score' %}
                <div class="form-group" id="star">
                    {{ field.label }}
                    {{ field }}
                </div>

                <!-- js -->
                <script type="text/javascript">
                    $('#star').raty({
                        score: '{{ field.value }}',
                        half: true,
                        targetKeep: true,
                        precision: true,
                        scoreName: 'star-score',
                        click: function (score, evt) {
                            const rounded_score = Math.round(score * 2) / 2;
                            console.log(rounded_score)
                            $('#id_score').val(rounded_score)
                        }
                    });
                </script>

                {% else %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endif %}
                {% endfor %}

                {% buttons %}
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 button-wrapper">
                        <button type="submit" class="btn btn-primary">投稿する</button>
                    </div>
                </div>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}