{% extends "account/base.html" %}

{% load static %}
{% load account %}
{% load bootstrap4 %}

{% block head_title %}Eメール確認{% endblock %}
{% block content %}
{% block extrahead %}
{% endblock %}
<div class="main">
    <div class="main-title">
        <h2>Eメール確認</h2>
    </div>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="text">メール確認ボタンを押すとアカウント登録が完了します。</p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Eメール確認</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>Eメール確認のリンクが切れています。 <a href="{{ email_url }}">再度認証リクエストを発行してください</a></p>

    {% endif %}

</div>
{% endblock %}