{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}パスワード変更{% endblock %}

{% block content %}
{% block extrahead %}
{% endblock %}
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">パスワード変更</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <div class="button-wrapper" style="text-align: center">
                            <button type="submit" class="btn btn-primary">パスワード変更</button>
                        </div>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}