{% extends "base.html" %}

{% load account %}
{% load static %}
{% load bootstrap4 %}

{% block title %}パスワードリセット{% endblock %}
{% block extra_css %}
<link href="{% static 'allauth/account/password_reset.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% block extrahead %}
{% endblock %}
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">パスワードリセット</h4>
                </div>
                <div class="card-body">
                    <p>ご登録のメールアドレスにパスワード再設定リンクをお送りいたします。</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-10 button-wrapper">
                                <button type="submit" class="btn btn-primary">パスワードリセット</button>
                            </div>
                        </div>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}