{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}パスワード再登録{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">パスワード変更</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">変更</button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class=" card-footer text-muted text-center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}