{% extends "base.html" %}
{% load bootstrap4 %}

{% block head_title %}パスワード変更{% endblock %}

{% block content %}
<h1>{% if token_fail %}Bad Token{% else %}パスワード変更{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}">new password reset</a>.</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" class="btn btn-primary btn-block" name="action" value="変更" />
    {% endbuttons %}
</form>
{% else %}
{% endif %}
{% endif %}
{% endblock %}