{% extends "base.html" %}

{% load account %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}パスワードリセット{% endblock %}

{% block content %}
{% block extrahead %}
{% endblock %}
<div class="main">
    <div class="main-title">
        <h1>パスワードリセット</h1>
    </div>
    <div class="main-content">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>パスワードリセットを行います。<br>
            ご登録のメールアドレスをご入力ください。</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">パスワードリセット</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}