{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}パスワード再登録{% endblock %}
{% block extra_css %}
<link href="{% static 'allauth/account/password_set.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">パスワード変更</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <div class="button-wrapper">
                            <button type="submit" class="btn btn-primary">パスワード変更</button>
                        </div>
                        {% endbuttons %}
                    </form>
                </div>
                <div class=" card-footer text-muted text-center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}