{% extends "base.html" %}
{% load static %}

{% block title %}パスワード変更完了{% endblock %}
{% block extra_css %}
<link href="{% static 'allauth/account/password_reset_from_key_done.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'account_login' %}">ログイン</a></li>
                    <li class="breadcrumb-item active" aria-current="page">パスワード変更完了</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="content">
                <p>パスワードの変更が完了しました。</p>
                <a href="{% url 'account_login' %}">ログインはこちらから</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}