{% extends "base.html" %}
{% load static %}
{% load account %}

{% block title %}パスワード再設定{% endblock %}
{% block extra_css %}
<link href="{% static 'allauth/account/password_reset_done.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% block extrahead %}
{% endblock %}
<div class="container-fluid">
    <div class="row mx-auto justify-content-center">
        <div class="col-12 col-md-10">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'book:about' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'account_login' %}">ログイン</a></li>
                    <li class="breadcrumb-item active" aria-current="page">パスワード再設定</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mx-auto" style="text-align: center;">
            <div class="content">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>ご登録のメールアドレスにパスワード再設定のメールをお送りいたしました。<br>
                    お手数となりますが、ご確認いただけますようお願い申し上げます。</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}