{% extends "base.html" %}
{% load static %}
{% load account %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
{% block extrahead %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 mx-auto" style="text-align: center;">
            <h1 style="margin: 20px;">パスワード再設定</h1>
            <div class="content">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>ご登録のメールアドレスにパスワード再設定のメールをお送りいたしました。<br>
                    お手数となりますが、ご確認いただけますようお願い申し上げます。</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}