{% extends "base.html" %}
{% load static %}
{% load account %}

{% block head_title %}パスワード再設定{% endblock %}

{% block content %}
{% block extrahead %}
{% endblock %}
<div class="main">
    <div class="main-title">
        <h1>パスワード再設定</h1>
    </div>
</div>
<div class="content">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>ご登録のメールアドレスにパスワード再設定のメールをお送りいたしました。<br>
        お手数となりますが、ご確認いただけますようお願い申し上げます。</p>
</div>
{% endblock %}