{% extends "base.html" %}
{% load static %}

{% block title %}メールアドレス認証{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto" style="text-align: center;">
            <h1 style="margin: 20px;">メールアドレス認証</h1>
            <div class="content">
                <p class="main-text">ご登録いただきましたメールアドレスに登録メールをお送りいたしました。<br>
                    お手数となりますが、ご確認いただけますようお願い申し上げます。</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}