div.container-fluid {
    padding-bottom: 120px;
}

h2.page-top-title {
    text-align: center;
    margin: 20px 20px;
}

div.card-user-info {
    width: 200px;
    margin: 10px;
    text-align: center;
}

div.book-card-image {
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: darkgray;
    text-align: center;
}

div.book-card-body {
    padding-bottom: 0%;
}

div.button-wrapper {
    text-align: center;
    margin-top: 10px;
}

div.user-info-tabs {
    margin-top: 45px;
}

div.card-fav-wanted {
    width: 200px;
    margin: 10px;
    text-align: center;
}

img.book-img-thumbnail {
    width: 120px;
    height: 150px;
    object-fit: cover;
}

li.list-group-item {
    margin: 0%;
    padding: 0.5em
}

div.empty-block {
    margin-top: 80px;
    text-align: center;
}

li.list-group-item form button {
    font-size: 0.75em;
}

div.comment-card {
    margin: 10px;
    width: 150px;
    height: 160px;
    text-align: center;
}

img.comment-book-img-thumbnail {
    width: 80px;
    height: 100px;
}

div.comment-book-card-body {
    width: 100px;
    height: 20px;
    text-align: center;
}

p.comment-book-card-title {
    text-align: center;
}

div.comment-buttons {
    text-align: right;
}

button.edit-button {
    display: inline-block;
}

button.delete-button {
    display: inline-block;
    margin-left: 10px;
}

img.rounded-circle {
    width: 100px;
    height: 100px;
    object-fit: cover;
}