div.container-fluid {
    padding-top: 50px;
    padding-bottom: 100px;
}

nav.breadcrumb {
    background-color: white;
    padding-left: 0px;
    margin: 0px;
}

nav.breadcrumb ol {
    background-color: white;
    padding: 0px;
    margin: 0px;
}