header a {
    color: white;
    text-decoration: none;
}


footer {
    color: white;
    background-color: #1C2331;
    padding-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}