header a {
    color: white;
    text-decoration: none;
}

div.dropdown-menu.show {
    width: 25%;
    margin: auto;
    text-align: center;
}

body {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

main {
    height: 100%;
    width: 100%;
}

footer {
    color: white;
    background-color: #1C2331;
    padding-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}