header a {
    color: white;
    text-decoration: none;
}

#sticky-footer {
    flex-shrink: none;
    color: white;
    background-color: #1C2331;
}

footer a {
    color: white;
    text-decoration: none;
}