{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Bookレビューとは{% endblock %}
{% block extra_css %}
<link href="{% static 'about.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center content">
        <div class="col-sm-6 col-lg-4 info">
            <div class="title">
                <h1>Bookレビュー</h1>
                <p>
                    Bookレビューは書籍レビューサイトです。</p>
                <p>
                    みんなのレビューを参考に、自分にぴったりの本を探してみませんか？
                </p>
            </div>
            <div class="buttons">
                <p class="book-list-button">
                    <a href="{% url 'book:list' %}" class="btn btn-primary">書籍一覧を見る</a>
                </p>
                <p class="book-search-button">
                    <a href="{% url 'book:search' %}" class="btn btn-primary">書籍を検索する</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}