<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <!-- css -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <header class="sticky-top">
            <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
                <a class="navbar-brand" href='#'><i class="fas fa-book-reader"></i>Bookレビュー</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav w-100 nav-justified mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'book:list' %}">
                                <i class="fas fa-list-ul"></i> 書籍一覧
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'book:search' %}">
                                <i class="fas fa-search"></i> 書籍検索
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'book:favorite_lanking' %}">
                                <i class="far fa-star"></i> お気に入りランキング
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'book:wanted_lanking' %}">
                                <i class="far fa-bookmark"></i> 読みたいランキング
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'accounts:detail' user.uuid  %}">プロフィール</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">ログアウト</a>
                            </div>
                        </li>
                        {% else %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
                            </li>
                        </ul>
                        {% endif %}
                    </ul>
            </nav>
        </header>
        <main class="container" style="padding-bottom: 350px;">
            {% for message in messages %}
            <div class=" alert alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </main>
        <footer id="footer" class="fixed-bottom">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-md-push-3">
                            <i class="fas fa-book-reader"></i>Bookレビュー</a>
                        </div>
                        <div class="col-md-3 col-sm-4 col-md-push-3">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'book:terms_of_service' %}">利用規約</a>
                                </li>
                                <li>
                                    <a href="{% url 'book:privacy_policy' %}">プライバシーポリシー</a>
                                </li>
                                <li>
                                    <a href="#!">お問い合わせ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-4 col-md-push-3">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'book:about' %}">トップページ</a>
                                </li>
                                <li>
                                    <a href="{% url 'book:list' %}">書籍一覧</a>
                                </li>
                                <li>
                                    <a href="{% url 'book:favorite_lanking' %}">お気に入りランキング</a>
                                </li>
                                <li>
                                    <a href="{% url 'book:wanted_lanking' %}">読みたいランキング</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-12 col-md-pull-9">
                            <div class="footer-logo"><a href="https://mdbootstrap.com/education/bootstrap/"> Book
                                    Review</a></div>
                            <p><small>&copy; 2019. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- js -->
        {% block extra_js %}{% endblock %}
    </body>

</html>